<html>
<head>
    <meta charset="UTF-8" />
    <title>SMS Classification</title>
    <link rel="stylesheet" th:href="@{/sms/format.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/sms/script.js}"></script>
</head>
<body style="background-color: cornflowerblue">
<span id="hostname" th:text="${hostname}"></span>
<h1>SMS Classification</h1>

<form>

    <textarea>Example SMS</textarea><br />

    <div class="radio">
        <input type="radio" name="guess" value="ham" checked="checked" /> Ham<br />
        <input type="radio" name="guess" value="spam" /> Spam<br />
    </div>

    <button>Send</button>
</form>

<p id="result"></p>

</body>
</html>
